{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block css %}

{% endblock css %}

{% block body %}
<div class="container my-4">
    <h2 class="display-2">Welcome to Kapoor Jewelers</h2>
    <div class="container mt-4">
        <div class="container my-3">
            <ul class="nav nav-pills mb-3" id="pills-pill" role="pilllist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-gold-pill" data-bs-toggle="pill" data-bs-target="#pills-gold"
                        type="button" role="pill" aria-controls="pills-gold" aria-selected="true">Gold</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-cash-pill" data-bs-toggle="pill" data-bs-target="#pills-cash"
                        type="button" role="pill" aria-controls="pills-cash" aria-selected="false">Cash</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">

                <!-- gold Panel -->
                <div class="tab-pane fade show active" id="pills-gold" role="tabpanel" aria-labelledby="pills-gold-tab">
                    <form action="/Gold" method="POST">
                        <div class="mb-3">
                            <label for="name_gold" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name_gold" name="name"
                                aria-describedby="emailHelp" required placeholder="Enter Name">
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inOut" id="inGold" value="In" required>
                            <label class="form-check-label" for="inGold">In</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inOut" id="outGold" value="Out" required>
                            <label class="form-check-label" for="outGold">Out</label>
                        </div>
                        <div class="input-group my-3">
                            <span class="input-group-text" id="pre-weightGold">Weight</span>
                            <input type="number" class="form-control" placeholder="Enter Weight" aria-label="Username"
                                aria-describedby="weightGold" step="0.001" name="weight" required>
                            <span class="input-group-text" id="post-weightGold">g</span>
                        </div>
                        <div class="mb-3">
                            <label for="dateGold" class="form-label">Date</label>
                            <input type="date" class="form-control" id="dateGold" name="dateGold"
                                aria-describedby="DateField" required  value="{{today}}">
                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                </div>

                <!-- cash panel -->
                <div class="tab-pane fade show" id="pills-cash" role="tabpanel" aria-labelledby="pills-cash-tab">
                    <form action="/Cash" method="POST">
                        <div class="mb-3">
                            <label for="name_cash" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name_cash" name="name"
                                aria-describedby="emailHelp" required placeholder="Enter Name">
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inOut" id="inCash" value="In" required>
                            <label class="form-check-label" for="inCash">In</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inOut" id="outCash" value="Out" required>
                            <label class="form-check-label" for="outCash">Out</label>
                        </div>
                        <div class="input-group my-3">
                            <span class="input-group-text" id="pre-costCash">Amount &#x20B9;</span>
                            <input type="number" class="form-control" placeholder="Enter Cost" aria-label="Username"
                                aria-describedby="costCash" step="0.1" name="cost" required>
                            <span class="input-group-text" id="post-costCash">/-</span>
                        </div>
                        <div class="mb-3">
                            <label for="cashCategory" class="form-label">Category</label>
                            <select class="form-select" aria-label="Default select example" id="cashCategory" name="cashCategory">
                                {% for cat in cashCategory %}
                                    <option value="{{cat}}">{{cat}}</option>  
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="dateCash" class="form-label">Date</label>
                            <input type="date" class="form-control" id="dateCash" name="dateCash"
                                aria-describedby="DateField" required  value="{{today}}">
                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                </div>
            </div>


            <div class="container my-4">
                <h3 class="mt-5 mb-2">
                    Your Balance
                </h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in DATA.items() %}
                        <tr id="row-{{key|replace(" ", "-")}}">
                            <th scope="row">{{key}}</th>
                            <td id="col-{{key|replace(" ", "-")}}">{{value}}</td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="container my-4">
                <h3 class="mt-5 mb-2">Your Data</h3>
                <ul class="nav nav-pills" id="mypill" role="pilllist">
                    {% for tag, data in tabData.items() %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link {% if loop.index0 == 0 %}active{% endif %}" id="{{data[0]}}-pill" data-bs-toggle="pill" data-bs-target="#pills-{{data[0]}}"
                                type="button" role="pill" aria-controls="{{data[0]}}" aria-selected="{% if loop.index0 == 0 %}true{% else %}false{% endif %}">{{tag}}</button>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content" id="pills-myTabContent">
                    {% for tag, data in tabData.items() %}
                        <div class="tab-pane fade {% if loop.index0 == 0 %}show active{% endif %}" id="pills-{{ data[0] }}" role="tabpanel" aria-labelledby="pills-{{ data[0] }}-tab">
                            <h4 class="my-3">{{tag}}</h4>
                            {% if data[1]|length == 0 %}
                            <div class="alert alert-dark" role="alert">
                                There is no data. Add your first data now!!
                            </div>
                            {% else %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        {% if data[2] == "Gold" %}
                                            <th scope="col">Weight</th>
                                        {% else %}
                                            <th scope="col">Amount</th>
                                            <th scope="col" class="toggleHide-300px toggleHide-500px">Category</th>
                                        {% endif %}
                                        <th scope="col">Date</th>
                                        <th scope="col" class="toggleHide-300px toggleHide-500px">Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in data[1] %}
                                    <tr>
                                        <th scope="row">{{loop.index}}</th>
                                        <td>{{item.name}}</td>

                                        {% if data[2] == "Gold" %}
                                            <td>{{item.weight}} g</td>
                                        {% else %}
                                            <td>&#x20B9; {{item.price}}</td>
                                            <td class="toggleHide-300px toggleHide-500px">{{item.category}}</td>
                                        {% endif %}

                                        <td>{{item.dateAdded}}</td>
                                        <td class="toggleHide-300px toggleHide-500px">
                                            <a href="/{{ data[2] }}/delete/{{item.id}}" class="btn btn-danger mx-1 my-1">
                                                Delete
                                            </a>
                                            <a href="/{{ data[2] }}/update/{{item.id}}" class="btn btn-dark mx-1 my-1">
                                                Update
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endblock body %}

        {% block js %}
        <script>
            // Change color of Gold Balance row
            if (document.getElementById("col-Gold-Balance").innerHTML < 0) {
                document.getElementById("row-Gold-Balance").setAttribute("class", "table-danger");
            }
            else if (document.getElementById("col-Gold-Balance").innerHTML > 0) {
                document.getElementById("row-Gold-Balance").setAttribute("class", "table-success");
            };

            // Change color of Gold Balance row
            if (document.getElementById("col-Cash-Balance").innerHTML < 0) {
                document.getElementById("row-Cash-Balance").setAttribute("class", "table-danger");
            }
            else if (document.getElementById("col-Cash-Balance").innerHTML > 0) {
                document.getElementById("row-Cash-Balance").setAttribute("class", "table-success");
            };
        </script>
        {% endblock js %}