{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block css %}

{% endblock css %}

{% block body %}
<div class="container my-4">
    <h2 class="display-2">Welcome to Kapoor Jewelers</h2>
    <div class="container mt-4">
        <div class="container my-3">
            <ul class="nav nav-tabs mb-3" id="tabs-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="tabs-gold-tab" data-bs-toggle="tab" data-bs-target="#tabs-gold"
                        type="button" role="tab" aria-controls="tabs-gold" aria-selected="true">Gold</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tabs-cash-tab" data-bs-toggle="tab" data-bs-target="#tabs-cash"
                        type="button" role="tab" aria-controls="tabs-cash" aria-selected="false">Cash</button>
                </li>
            </ul>
            <div class="tab-content" id="tabs-tabContent">

                <!-- gold Panel -->
                <div class="tab-pane fade show active" id="tabs-gold" role="tabpanel" aria-labelledby="tabs-gold-tab">
                    <form action="/Gold" method="POST">
                        <div class="mb-3">
                            <label for="name_gold" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name_gold" name="name"
                                aria-describedby="emailHelp" required placeholder="Enter Name">
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inOut" id="inGold" value="In" required>
                            <label class="form-check-label" for="inGold">In</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inOut" id="outGold" value="Out" required>
                            <label class="form-check-label" for="outGold">Out</label>
                        </div>
                        <div class="input-group my-3">
                            <span class="input-group-text" id="pre-weightGold">Weight</span>
                            <input type="number" class="form-control" placeholder="Enter Weight" aria-label="Username"
                                aria-describedby="weightGold" step="0.001" name="weight" required>
                            <span class="input-group-text" id="post-weightGold">g</span>
                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                </div>

                <!-- cash panel -->
                <div class="tab-pane fade show" id="tabs-cash" role="tabpanel" aria-labelledby="tabs-cash-tab">
                    <form action="/Cash" method="POST">
                        <div class="mb-3">
                            <label for="name_cash" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name_cash" name="name"
                                aria-describedby="emailHelp" required placeholder="Enter Name">
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inOut" id="inCash" value="In" required>
                            <label class="form-check-label" for="inCash">In</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inOut" id="outCash" value="Out" required>
                            <label class="form-check-label" for="outCash">Out</label>
                        </div>
                        <div class="input-group my-3">
                            <span class="input-group-text" id="pre-costCash">Amount &#x20B9;</span>
                            <input type="number" class="form-control" placeholder="Enter Cost" aria-label="Username"
                                aria-describedby="costCash" step="0.1" name="cost" required>
                            <span class="input-group-text" id="post-costCash">/-</span>
                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                </div>
            </div>


            <div class="container my-4">
                <h3 class="mt-5 mb-2">
                    Your Balance
                </h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in DATA.items() %}
                        <tr id="row-{{key|replace(" ", " -")}}">
                            <th scope="row">{{key}}</th>
                            <td id="col-{{key|replace(" ", " -")}}">{{value}}</td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="container my-4">
                <h3 class="mt-5 mb-2">Your Data</h3>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="GoldIn-tab" data-bs-toggle="tab" data-bs-target="#GoldIn"
                            type="button" role="tab" aria-controls="GoldIn" aria-selected="true">Gold In</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="GoldOut-tab" data-bs-toggle="tab" data-bs-target="#GoldOut"
                            type="button" role="tab" aria-controls="GoldOut" aria-selected="false">Gold Out</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="CashIn-tab" data-bs-toggle="tab" data-bs-target="#CashIn"
                            type="button" role="tab" aria-controls="CashIn" aria-selected="false">Cash In</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="CashOut-tab" data-bs-toggle="tab" data-bs-target="#CashOut"
                            type="button" role="tab" aria-controls="CashOut" aria-selected="false">Cash Out</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="GoldIn" role="tabpanel" aria-labelledby="GoldIn-tab">
                        <h4 class="my-3">Gold In</h4>
                        {% if goldIn|length == 0 %}
                        <div class="alert alert-dark" role="alert">
                            There is no data. Add your first data now!!
                        </div>
                        {% else %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Weight</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="toggleHide-300px toggleHide-500px">Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in goldIn %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{item.name}}</td>
                                    <td>{{item.weight}}</td>
                                    <td>{{item.dateAdded}}</td>
                                    <td class="toggleHide-300px toggleHide-500px">
                                        <a href="/Gold/delete/{{item.id}}" class="btn btn-danger mx-1 my-1">
                                            Delete
                                        </a>
                                        <a href="/Gold/update/{{item.id}}" class="btn btn-dark mx-1 my-1">
                                            Update
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="GoldOut" role="tabpanel" aria-labelledby="GoldOut-tab">
                        <h4 class="my-3">Gold Out</h4>
                        {% if goldOut|length == 0 %}
                        <div class="alert alert-dark" role="alert">
                            There is no data. Add your first data now!!
                        </div>
                        {% else %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Weight</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="toggleHide-300px toggleHide-500px">Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in goldOut %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{item.name}}</td>
                                    <td>{{item.weight}}</td>
                                    <td>{{item.dateAdded}}</td>
                                    <td class="toggleHide-300px toggleHide-500px">
                                        <a href="/Gold/delete/{{item.id}}" class="btn btn-danger mx-1 my-1">
                                            Delete
                                        </a>
                                        <a href="/Gold/update/{{item.id}}" class="btn btn-dark mx-1 my-1">
                                            Update
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="CashIn" role="tabpanel" aria-labelledby="CashIn-tab">
                        <h4 class="my-3">Cash In</h4>
                        {% if cashIn|length == 0 %}
                        <div class="alert alert-dark" role="alert">
                            There is no data. Add your first data now!!
                        </div>
                        {% else %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="toggleHide-300px toggleHide-500px">Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cashIn %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{item.name}}</td>
                                    <td>{{item.price}}</td>
                                    <td>{{item.dateAdded}}</td>
                                    <td class="toggleHide-300px toggleHide-500px">
                                        <a href="/Cash/delete/{{item.id}}" class="btn btn-danger mx-1 my-1">
                                            Delete
                                        </a>
                                        <a href="/Cash/update/{{item.id}}" class="btn btn-dark mx-1 my-1">
                                            Update
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="CashOut" role="tabpanel" aria-labelledby="CashOut-tab">
                        <h4 class="my-3">Cash Out</h4>
                        {% if cashOut|length == 0 %}
                        <div class="alert alert-dark" role="alert">
                            There is no data. Add your first data now!!
                        </div>
                        {% else %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="toggleHide-300px toggleHide-500px">Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cashOut %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{item.name}}</td>
                                    <td>{{item.price}}</td>
                                    <td>{{item.dateAdded}}</td>
                                    <td class="toggleHide-300px toggleHide-500px">
                                        <a href="/Cash/delete/{{item.id}}" class="btn btn-danger mx-1 my-1">
                                            Delete
                                        </a>
                                        <a href="/Cash/update/{{item.id}}" class="btn btn-dark mx-1 my-1">
                                            Update
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock body %}

        {% block js %}
        <script>
            // Change color of Gold Balance row
            if (document.getElementById("col-Gold-Balance").innerHTML < 0) {
                document.getElementById("row-Gold-Balance").setAttribute("class", "table-danger");
            }
            else if (document.getElementById("col-Gold-Balance").innerHTML > 0) {
                document.getElementById("row-Gold-Balance").setAttribute("class", "table-success");
            };

            // Change color of Gold Balance row
            if (document.getElementById("col-Cash-Balance").innerHTML < 0) {
                document.getElementById("row-Cash-Balance").setAttribute("class", "table-danger");
            }
            else if (document.getElementById("col-Cash-Balance").innerHTML > 0) {
                document.getElementById("row-Cash-Balance").setAttribute("class", "table-success");
            };
        </script>
        {% endblock js %}