{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block css %}

{% endblock css %}

{% block body %}
<div class="container my-4">
    <h2 class="display-2">Kapoor Jewellers</h2>
    <div class="container my-4">
        <form action="/update/{{id}}" method="POST">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="InputName" name="name" aria-describedby="emailHelp"
                    placeholder="Enter Name Here" required value="{{ item.name }}">
                <label for="InputName">Sold To OR Purchased From</label>
            </div>

            <div class="mt-3 mb-1">
                <h6 class="h6">Choose Product</h6>
            </div>
            <div class="form-check form-check-inline category">
                <input class="form-check-input" type="radio" name="category" id="CatRadioGold" value="Gold"
                    onclick="checkRadio()" {% if item.category=="Gold" %}checked{% endif %}>
                <label class="form-check-label" for="CatRadioGold" onclick="checkRadio()">Gold</label>
            </div>
            <div class="form-check form-check-inline category">
                <input class="form-check-input" type="radio" name="category" id="CatRadioSilver" value="Silver"
                    onclick="checkRadio()" {% if item.category=="Silver" %}checked{% endif %}>
                <label class="form-check-label" for="CatRadioSilver" onclick="checkRadio()">Silver</label>
            </div>
            <div class="form-check form-check-inline category">
                <input class="form-check-input" type="radio" name="category" id="CatRadioGrocerie" value="Grocery"
                    onclick="checkRadio()" {% if item.category=="Grocery" %}checked{% endif %}>
                <label class="form-check-label" for="CatRadioGrocerie" onclick="checkRadio()">Groceries or Other</label>
            </div>


            <!-- Shows if Gold is choosen -->
            <div id="GoldPrompt" class="my-3">
                <!-- Buy or Sell -->
                <div class="mt-3 mb-1">
                    <h6 class="h6">Buy or Sold Gold</h6>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="buySellGold" id="buySellGold1" value="Buy" {% if
                        item.trade=="Buy" %}checked{% endif %}>
                    <label class="form-check-label" for="buySellGold1">Buy</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="buySellGold" id="buySellGold2" value="Sold" {% if
                        item.trade=="Sold" %}checked{% endif %}>
                    <label class="form-check-label" for="buySellGold2">Sold</label>
                </div>

                <!-- Get Weight And Rate -->
                <div class="input-group mb-3 mt-3">
                    <span class="input-group-text">Weight</span>
                    <input type="number" step="0.001" class="form-control" placeholder="Enter Weight" name="goldWeight"
                        aria-label="Username" {% if item.category=="Gold" %}value="{{item.weight}}" {% else %} value="0"
                        {% endif %}>
                    <span class="input-group-text">g @ &#x20B9;</span>
                    <input type="number" step="0.001" class="form-control" placeholder="Enter Rate" name="goldRate"
                        aria-label="Server" {% if item.category=="Gold" %}value="{{item.weight}}" {% else %} value="0"
                        {% endif %}>
                </div>
                <label class="form-label" for="goldCategory">Subcategory</label>
                <select class="form-select" aria-label="Default select example" id="goldSubCategory"
                    name="goldSubCategory">
                    {% if item.category == "Gold" %}<option value="{{item.subcategory}}" selected>Selected Previously -
                        {{item.subcategory}}</option>{% endif %}
                    {% for item in goldItems %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Shows if Silver is choosen -->
            <div id="SilverPrompt" class="my-3">
                <!-- Buy or Sell -->
                <div class="mt-3 mb-1">
                    <h6 class="h6">Buy or Sold Silver</h6>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="buySellSilver" id="buySellSilver1" value="Buy" {%
                        if item.trade=="Buy" %}checked{% endif %}>
                    <label class="form-check-label" for="buySellSilver1">Buy</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="buySellSilver" id="buySellSilver2" value="Sold"
                        {% if item.trade=="Sold" %}checked{% endif %}>
                    <label class="form-check-label" for="buySellSilver2">Sold</label>
                </div>

                <!-- Get Weight And Rate -->
                <div class="input-group mb-3 mt-3">
                    <span class="input-group-text">Weight</span>
                    <input type="number" step="0.001" class="form-control" placeholder="Enter Weight"
                        name="silverWeight" aria-label="Username" {% if item.category=="Silver"
                        %}value="{{item.weight}}" {% else %} value="0" {% endif %}>
                    <span class="input-group-text">g @ &#x20B9;</span>
                    <input type="number" step="0.001" class="form-control" placeholder="Enter Rate" name="silverRate"
                        aria-label="Server" {% if item.category=="Silver" %}value="{{item.weight}}" {% else %} value="0"
                        {% endif %}>
                </div>
                <label class="form-label" for="goldCategory">Subcategory</label>
                <select class="form-select" aria-label="Default select example" id="silverSubCategory"
                    name="silverSubCategory">
                    {% if item.category == "Silver" %}<option value="{{item.subcategory}}" selected>Selected Previously
                        - {{item.subcategory}}</option>{% endif %}
                    {% for item in silverItems %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>



            <!-- Shows if Groceries is choosen -->
            <div id="GroceriePrompt" class="my-3">
                <!-- Buy or Sell -->
                <div class="mt-3 mb-1">
                    <h6 class="h6">Buy Groceries</h6>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="buySellGrocerie" id="buySellGrocerie1"
                        value="Buy" {% if item.trade=="Buy" %}checked{% endif %}>
                    <label class="form-check-label" for="buySellGrocerie1">Buy</label>
                </div>

                <!-- Get Subcategory -->
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="SubCatGrocerie" class="col-form-label">Product</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="SubCatGrocerie" name="SubCatGrocerie" class="form-control"
                            aria-describedby="passwordHelpInline" {% if item.category=="Grocery"
                            %}value="{{item.subcategory}}" {% endif %}>
                    </div>
                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text">Quantity</span>
                        <input type="number" step="0.001" class="form-control" placeholder="Enter Quantity"
                            name="grocQuantity" aria-label="Username" {% if item.category=="Grocery"
                            %}value="{{item.weight}}" {% else %} value="1" {% endif %}>
                        <span class="input-group-text">@ Price &#x20B9;</span>
                        <input type="number" step="0.001" class="form-control" placeholder="Enter price" name="grocRate"
                            aria-label="Username" {% if item.category=="Grocery" %}value="{{item.rate}}" {% else %}
                            value="0" {% endif %}>
                    </div>
                </div>
            </div>

            <div class="my-3"><button type="submit" class="btn btn-dark">Submit</button></div>

        </form>
    </div>
</div>

{% endblock body %}


{% block js %}
<script>
    var goldPrompt = document.getElementById("GoldPrompt");
    var silverPrompt = document.getElementById("SilverPrompt");
    var groceryPrompt = document.getElementById("GroceriePrompt");

    // set displays of prompts to none
    {% if item.category!="Gold" %}goldPrompt.style.display = "none";{% else %}{% endif %};
    {% if item.category!="Silver" %}silverPrompt.style.display = "none";{% else %}{% endif %};
    {% if item.category!="Grocery" %}groceryPrompt.style.display = "none";{% else %}{% endif %};
</script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock js %}